/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 ene. 2021, 02:21:22
    Author     : Jandry J. Moreira Q
*/

.bodybg{
           -fx-background-image: url("https://image.freepik.com/vector-gratis/hotel-ciudad-edificios-paisaje-vista-vector-ilustracion-dibujos-animados-plana_101884-215.jpg");
           -fx-background-repeat: stretch;   
           -fx-background-size: 100% 100%;
           -fx-background-position: center center;
           -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    }