/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 feb. 2021, 01:28:10
    Author     : Jandry J. Moreira Q
*/

.bodybg{
           -fx-background-image: url("https://mobilemarketingwatch.com/wp-content/uploads/2016/10/63602828552510152052842720_Hospitality-industry1-1132x670.jpg");
           -fx-background-repeat: stretch;   
           -fx-background-size: 100% 100%;
           -fx-background-position: center center;
           -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    }