/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 feb. 2021, 15:42:28
    Author     : Jandry J. Moreira Q
*/

.bodybg{
           -fx-background-image: url("https://trucoslondres.com/wp-content/uploads/2017/05/hotel.jpg");
           -fx-background-repeat: stretch;   
           -fx-background-size: 100% 100%;
           -fx-background-position: center center;
           -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    }